/* Background color */

body {
    background: #E3E1EA;
}

/* Media query to resize photo of myself on home/index page on smaller devices */

@media (max-width: 992px) { 
  .emilyPhoto {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

/* Footer margin to deal with issue of fixed footer covering up content on smaller devices - only needed on contact page */

.footer-margin {
  height: 200px;
}

/* Nav bar customization - to be added in later */

/* .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 60%;
    width: 65px;
    height: 65px;
    line-height: 60px;
    font-size: 0.9rem;
  } */