/* Nav bar customization */

/* .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 60%;
    width: 65px;
    height: 65px;
    line-height: 60px;
    font-size: 0.9rem;
  } */

/* Header background */

.top-banner {
    background: #E3E1EA;
}

.about {
    background: #E3E1EA;
}

.skills {
    background: #E3E1EA;
}

.portfolio {
    background: #fec9ac;
    
}