/* Makes smooth scrolling experience when click on menu item */
html {
  scroll-behavior: smooth;
}

/* Make navbar maintain when scrolling */
header {
  position: sticky;
  top: 0;
  z-index: 5;

}

/* Background color */
body {
    background: #f6f6f6;
}

/* Overriding Bootstrap default bg color on navbar/footer */
.navbar, .footer {
  background: darkgrey !important;
}

/* Making text lighter on buttons */
.btn {
  color: #f6f6f6 !important;
}

/* Jumbotron gradient animated effect */
#welcome-msg {
  height: 40vh;
  background: linear-gradient(135deg, #862a5c, #f4a548, #7ebdb4, #f6d198);
  background-size: 800% 800%;

  -webkit-animation: gradient 21s ease infinite;
  -moz-animation: gradient 21s ease infinite;
  animation: gradient 21s ease infinite;
}

@-webkit-keyframes gradient {
  0%{background-position:27% 0%}
  50%{background-position:74% 100%}
  100%{background-position:27% 0%}
}
@-moz-keyframes gradient {
  0%{background-position:27% 0%}
  50%{background-position:74% 100%}
  100%{background-position:27% 0%}
}
@keyframes gradient {
  0%{background-position:27% 0%}
  50%{background-position:74% 100%}
  100%{background-position:27% 0%}
}

/* Resizing approach icons */
.approach-icon {
  height: 2em;
}

/* Prevents animation from happening until user scrolls to element */
#animatedElement {
	visibility: hidden;
}

/* Hover effect transition time */
.card {
  transition: 0.7s; 
}

/* Hover effect on projects, only on devices with pointer */
@media(hover: hover) and
(pointer: fine) {
  .card:hover{
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.1);
    border-radius: 2%;
  }
}

/* Make text black instead of Bootstrap default blue when making cards links */
a {
  color: black;
}

/* Make text black instead of Bootstrap default blue when making cards links */
a:hover, a:focus {
  color: black;
  text-decoration: none;
}

/* Background color for text portion of the card body with my projects */
.card-body, .project-highlight {
  background: #7ebdb4 !important;
}

/* Changing color of progress bar */
.progress-bar {
  background: #f4a548 !important;
}

/* Footer margin to deal with issue of fixed footer covering up content on smaller devices - only needed on contact page */
.footer-margin{
  height: 50%;
}

.bio-info {
  justify-content: start;
}

/* Media query to resize photo of myself on home/index page on smaller devices */
@media (max-width: 992px) { 
  h2 {
    justify-content: center;
  }

  .bio-info {
    justify-content: center;
  }
}






/* Customization - to be added in later */

/* .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 60%;
    width: 65px;
    height: 65px;
    line-height: 60px;
    font-size: 0.9rem;
  } */

  /* Working on typewriter effect for jumbotron header */

/* .intro-subtitle {
  display: inline-flex;
  overflow: hidden; 
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
  typing 5s steps(60, end),
  blink-caret .75s step-end infinite;
} */

/* The typewriter cursor effect just keeps going, can't figure out why? */
/* 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; } 
} */


/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */