/* Makes smooth scrolling experience when click on menu item */
html {
  scroll-behavior: smooth;
}

/* Background color */
body {
  background: #cfd8dc;
  font-family: 'Inconsolata', monospace;
}

h1 {
  color: #37474f;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;  
}

h2, h4 {
  color: #37474f;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

/* Make navbar maintain when scrolling */
header {
  position: sticky;
  top: 0;
  z-index: 5;
}

/* Overriding Bootstrap default bg color on navbar/footer */
.navbar, .footer {
  background: #cfd8dc !important;
}

/* Jumbotron gradient animated effect */
#welcome-msg {
  width: 70vw;
  background: #D8B4A0;
}

/* Resizing approach icons */
.approach-icon {
  height: 2em;
}

/* Prevents animation from happening until user scrolls to element */
#animatedElement {
	visibility: hidden;
}

.card-text {
  font-size: 1.3em;
}

img {
  border-radius: .5em;
}

/* Make text black instead of Bootstrap default blue when making cards links */
a {
  color: black;
}

/* Make text black instead of Bootstrap default blue when making cards links */
a:hover, a:focus {
  color: black;
  text-decoration: none;
}


/* Hover effect transition time */
.card {
  transition: 0.7s; 
}

/* Hover effect on projects, only on devices with pointer */
@media(hover: hover) and
(pointer: fine) {
  .card:hover {
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.01);
    }
}

/* Changing color of progress bar */
.progress-bar {
  background: #37474f !important;
  /* background: #D8B4A0 !important; */
}

.project-links {
  justify-content: end;
}

/* Footer margin to deal with issue of fixed footer covering up content on smaller devices - only needed on contact page */
.footer-margin {
  height: 50%;
}

/* Media queries for responsive design */
@media (max-width: 992px) { 
  h2 {
    justify-content: center;
  }

  .project-links {
    padding-top: 25px;
  } 

  .card-title {
    padding: 10px;
    text-align: center;
  }

}

@media (max-width: 500px) {
  #welcome-msg {
    width: 90vw;
    height: 45vh;
  }

  #welcome-msg-text {
    margin-bottom: 25px;
  }
}