p,h1,h2,h3,h4,h5,h6,a,img {
  color: #37474f;
}

/* Makes smooth scrolling experience when click on menu item */
html {
  scroll-behavior: smooth;
}

/* Background color */
body {
  background: #cfd8dc;
  font-family: 'Inconsolata', monospace;
}

#welcome-msg {
  width: 80vw;
  height: 50vh;
  /* border: 2px solid #283593;   */
  /* border: 2px solid #3949ab;   */
  background: #D8B4A0;
  /* background: #ef5350; */
  /* color: #cfd8dc; */
  border-radius: .5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  display: flex;
  /* justify-content: start; */
  flex-direction: row;
  margin: 3em 0em;
}

.transitions-item {
  
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 8em;
  font-weight: 600;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100px;
}

.full-stack {
  font-size: 4rem;
  text-align: center;
  /* height:90vh;
  line-height: 90vh; */
  color: #fcedd8;
   font-family: 'Arial';
  font-weight: 700;
  text-shadow: 2px 2px 0px #303f9f, 
              4px 6px 0px #001970, 
              8px 9px 0px #37474f, 
              10px 12px 0px #017e7f, 
              15px 15px 0px #052939, 
              18px 18px 0px #D8B4A0, 
              21px 21px 0px #D8B4A0, 
              40px 40px 0px #D8B4A0, 
              45px 45px 0px #D8B4A0;
}


.container {
  margin: 0em 5em;
  display: flex;
}

.section-container {
  margin: 3em;
}

/* h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
} */

.subheader {
  margin: 2em 0em;
  display: flex;
  justify-content: center;
}

.profile-photo {
  height: 30vh;
  border-radius: .5em;
  margin-right: auto;
}

.hobbie-icons {
  margin: .3em;
  color: #37474f;
}

#animatedElement {
	visibility: hidden;
}

.progress-categories {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #37474f;
}

/* Changing color of progress bar */
.progress-bar {
  height: .5em !important;
  border-radius: .5em !important;
}

.card {
  transition: 0.7s; 
}

.contact-section {
  display: flex;
  flex-direction: row;
}

.contact-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1em 3em 1em;
  font-family: 'Poppins', sans-serif;
 

}

a {
  text-decoration: none;
}

.footer {
  padding: 4em;
}

a {
  padding: .8em;
}

@media(hover: hover) and
(pointer: fine) {
  .card:hover {
    cursor: pointer;
    transform: scale(1.01);
    }
}


@media (max-width: 500px) {
  #welcome-msg {
    width: 90vw;
    height: 50vh;
    flex-direction: column;
  }

  #welcome-msg-text {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

   .profile-photo {
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 20vh;

  }

  .transitions-item {
    font-size: 4em;
  }

  .full-stack {
    font-size: 1.8em;

  }
}